<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gestione Conti</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Gestione Conti</h1>
		<hr>
		<h2>Aggiorna Conto</h2>

		<form action="#" th:action="@{/salvaContoVersamento}" th:object="${conto}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<H5> Numero conto:</H5>
							<input type="text" th:field="*{numeroConto}" class="form-control mb-4 col-4" readonly >
							<input type="hidden" th:field="*{correntista}" class="form-control mb-4 col-4" >
							
					<h5> Saldo disponibile:</h5>
					
												<b>  <input type="text" th:field="*{saldo}" class="form-control mb-4 col-4" readonly ></b>
					<br>
					<H5> Digita la cifra da versare:</H5>
					<input type="number" name="versato" min="0"   required/>
															<br>
					
					
			<br>
				<button type="submit" class="btn btn-info col-2"> Versa </button>
				
		</form>
		
		<hr>
		
		<a th:href = "@{/index}"> Torna alla home</a>
		<br>
		<br>
							    <a th:href="@{/preleva/{id}(id=${conto.id})}">Preleva</a>
		
		
	</div>
</body>
</html>